* {
	font-family: 'Gowun Dodum', sans-serif;
}


#products .card{
	width: 240px;
	margin-bottom: 20px;
}
.cards-box .name{
	padding: 0 10px;
    text-align: center;
    display: block;
}
.cards-box .price{
	margin-top: 2px;
    text-align: center;
}

