@charset "UTF-8";

.cbtn-group {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

.cbtn {
	margin-bottom: 0px;
}

.sizeList .cbtn {
	margin-bottom: 0px;
	border: 1px solid lightgray;
}

.cbtn-group>.form-radio {
	padding-top: 8px;
	padding-right: 20px;	
}

.cbtn > input[type="radio"],  .cbtn > .fa-check {
	display: none;
}

.cbtn > input[type="radio"]:checked + .fa-check{
	display: inline-block;
	color: black;

}

.sizeList .cbtn > input[type="radio"]:checked + .fa-check{
	display: inline-block;
	color: black;

}